@use "../../assets/sass/_variables.scss" as *;

.mainSection {
    
    margin-top: 50px;
    width: 760px;
    padding: 10px 20px;
    height: 2250px;
    border: 5px solid $color-black;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
  }